raytracer
*.test

# Temporary directory for holding outputs
output/*

# profiler output
*.prof
profile*.svg

.claude/

# Windows sometimes locks the temporary test.exe (maybe scanning for viruses?)
*.exe